# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
client/dist/
dist/
build/
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Database sessions/logs
Joineazy\ DB.session.sql
